<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Venčoviská", '/', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Domov", '/' %></li>
        <li><%= link_to "Mesta", cities_path %></li>
        <li><%= link_to "Statistika", statistics_path %></li>
        <% if logged_in? %>
            <li><%= link_to "Použivatelia", users_path %></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%= current_user().name.partition(' ').first %> <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Profil", current_user %></li>
                <li><%= link_to "Nastavenia", edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li><%= link_to "Odhlásiť", logout_path, method: "delete" %></li>
              </ul>
            </li>
        <% else %>
            <li><%= link_to "Prihlásiť sa", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>