<%= semantic_form_for @user do |f| %>
    <%= render 'shared/error_messages' %>

    <%= f.semantic_errors %>

    <%= f.inputs do %>
        <%= f.input :name %>
        <%= f.input :email, as: :email %>
        <%= f.input :city, as: :select, collection: @cities %>
        <%= f.input :birthday, as: :date_picker, input_html: { placeholder: "YYYY-MM-DD" } %>
        <%= f.input :password, as: :password %>
        <%= f.input :password_confirmation, as: :password %>
    <% end %>
    <%= f.action :submit, label: locals[:btn_action] %>
<% end %>