<%= provide(:title, "Prihlásenie") %>
<h1>Prihlásenie</h1>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <%= semantic_form_for :session, url: login_path do |f| %>

        <%= f.inputs do %>
            <%= f.input :email, as: :email %>
            <%= f.input :password, as: :password %>
            <%= f.input :remember_me, as: :boolean %>
        <% end %>

        <%= f.action :submit, label: "Prihlásiť" %>
    <% end %>

    <p>Nie ste zaregistrovaní? <%= link_to "Registovať!", signup_path %></p>
  </div>
</div>
