<ul class="statistics">
  <% @result.each do |row| %>
      <li>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Mesto -> <%= row["city_name"] %></h3>
          </div>
          <div class="panel-body">
            <h4>Pocet uzivatelov z mesta: <%= row["users_count"] %></h4>
            <h4>Priemerny vek uzivatelov z mesta: <%= row["avg_user_age"].split[0...6].join(' ') %></h4>
          </div>
        </div>
      </li>
  <% end %>
</ul>
