<%= provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-3">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>

  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Popis</h3>
      </div>
      <div class="panel-body">
        <p><%= @user.description %></p>
        <p><strong>Bydlisko:</strong><%= link_to(@user.city.name, @user.city) unless @user.city.nil? %></p>
      </div>
    </div>
  </div>
</div>

<h2> Počet príspevkov <%= @comments.count %></h2>
<% if @comments.any? %>
<ol class="comments">
  <%=render @comments %>
</ol>
<%= will_paginate @comments %>
<% end %>